@model KDSB_JMRH_NNNN_NDMM.Models.Suppliers

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>
<br />
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>
    <div class="row row-cols-md-12">
        @await Html.PartialAsync("_DetPhoneNumer", Model.PhoneNumber)
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-success">Editar</a>
    <a asp-action="Index" class="btn btn-primary">Regresar a la lista</a>
</div>
