@model IEnumerable<KDSB_JMRH_NNNN_NDMM.Models.Suppliers>

@{
    ViewData["Title"] = "Proveedores";
}

<h1>Proveedores</h1>
<br />
<p>
    <a asp-action="Create" class="btn btn-primary">Crear proveedor</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-group">
        <input type="text" class="form-control" id="searchString" name="searchString" placeholder="Buscar...">
    </div>
    <button type="submit" class="btn btn-primary">Buscar</button>
</form>
<div class="table table-responsive-sm">
<table class="table table-bordered">
    <thead>
        <tr class="table-dark">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success">Editar</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning">Detalles</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>